.env
output/
data_processed/
data avant ingestion/
data/
*.pdf
envVirtuel/
credentials_oauth.json
token.pickle
test.ipynb
test.py
credentials.json
# wrapper_script.sh pas besoins sans airflow
wrapper_script
.env.lyon
.env.lille
.env.test